nav {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.5rem; }
  nav .logo img {
    width: 7vw;
    height: 6vh; }
  nav div {
    height: 1vh; }
    nav div a:hover {
      color: black;
      background-color: white; }
  nav ul, nav ol {
    list-style: none; }
  nav ul li a {
    background-color: black;
    color: whitesmoke;
    padding: 0.5rem;
    display: block; }
  nav ul li ul {
    display: none;
    position: absolute;
    min-width: 23.5%; }
  nav .nav > li {
    float: left; }
  nav .submenu:hover ul {
    display: block;
    position: absolute; }

#mainPresentacion {
  width: 100%;
  display: grid;
  grid-area: mainpresent;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr;
  grid-template-areas: "titulo"  "section"; }
  #mainPresentacion .presentacion {
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "presimg" "prescont";
    justify-items: center; }
    #mainPresentacion .presentacion .presentacion__imagen {
      grid-area: presimg; }
      #mainPresentacion .presentacion .presentacion__imagen #presentacionImg {
        width: 80vw;
        height: 50vh;
        margin: 2%; }
      #mainPresentacion .presentacion .presentacion__imagen .animacion {
        animation-name: move;
        animation-duration: 2s; }

@keyframes move {
  from {
    rotate: 0deg;
    opacity: 0; }
  to {
    rotate: 360deg;
    opacity: 1; } }
    #mainPresentacion .presentacion .presentacion__contenido {
      grid-area: prescont;
      margin: 2%;
      border: 2px solid black;
      border-radius: 10px;
      background-color: white;
      padding: 5px;
      height: 80%;
      width: 95%;
      font-size: 0.8rem;
      font-family: Arial, Helvetica, sans-serif; }

#titulo_doble {
  width: 100%;
  height: 6%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 5%; }

#subtitulo_doble {
  display: grid;
  grid-template-columns: 1fr; }

#doble {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 2px solid black;
  height: auto;
  margin: 5%;
  width: 90%; }
  #doble .habitacion__imagen {
    width: 70vw;
    height: 50vh;
    display: block;
    margin: auto;
    padding: 2%; }
  #doble .habitacion__contenido {
    font-size: 0.8rem;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%; }

#titulo_triple {
  width: 100%;
  height: 6%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 5%; }

#subtitulo_triple {
  display: grid;
  grid-template-columns: 1fr; }

#triple {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 2px solid black;
  height: auto;
  margin: 5%;
  width: 90%; }
  #triple .habitacion__imagen {
    width: 70vw;
    height: 50vh;
    display: block;
    margin: auto;
    padding: 2%; }
  #triple .habitacion__contenido {
    font-size: 0.8rem;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%; }

#titulo_servicios {
  width: 100%;
  height: 6%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 5%; }

#subtitulo_servicios {
  display: grid;
  grid-template-columns: 1fr; }

#desayuno {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  border: 0.2rem solid black;
  padding: 0.5%;
  width: 98%;
  height: auto; }
  #desayuno div .servicios__imagen {
    width: 30vw;
    height: 12vh; }
  #desayuno div p {
    width: 95%;
    font-size: 0.8rem; }

#restaurant {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  border: 0.2rem solid black;
  padding: 0.5%;
  width: 98%;
  height: auto; }
  #restaurant div .servicios__imagen {
    width: 30vw;
    height: 12vh; }
  #restaurant div p {
    width: 95%;
    font-size: 0.8rem; }

#pileta {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  border: 0.2rem solid black;
  padding: 0.5%;
  width: 98%;
  height: auto; }
  #pileta div .servicios__imagen {
    width: 30vw;
    height: 12vh; }
  #pileta div p {
    width: 95%;
    font-size: 0.8rem; }

#estacionamiento {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  border: 0.2rem solid black;
  padding: 0.5%;
  width: 98%;
  height: auto; }
  #estacionamiento div .servicios__imagen {
    width: 30vw;
    height: 12vh; }
  #estacionamiento div p {
    width: 95%;
    font-size: 0.8rem; }

#gimnasio {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  border: 0.2rem solid black;
  padding: 0.5%;
  width: 98%;
  height: auto; }
  #gimnasio div .servicios__imagen {
    width: 30vw;
    height: 12vh; }
  #gimnasio div p {
    width: 95%;
    font-size: 0.8rem; }

.contacto section {
  font-size: 0.8rem; }

.contacto #estiloTextarea {
  background-color: #003554;
  color: white;
  width: 90%;
  border: 1%;
  border-radius: 15px; }

.contacto input {
  font-size: 0.5rem; }

.contacto select {
  font-size: 0.5rem; }

.contacto #titulo_contacto {
  width: 100%;
  height: 6%;
  padding: 5%; }

.contacto section #contactoSection {
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.reseteoListas a:link,
a:visited, a:active {
  list-style-type: none;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Nerko One', cursive; }

body {
  width: 100vw;
  height: 185vh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header header" "mainpresent mainpresent" "footer footer"; }
  body header {
    width: 100vw;
    height: 10vh;
    grid-area: header;
    top: 0;
    background-color: #003554;
    font-weight: bold; }
  body main {
    width: 100vw;
    height: 165vh;
    background-color: #bfdbf7; }
    body main h1 {
      grid-area: titulo;
      width: 100%;
      height: 40%;
      color: white;
      text-align: center;
      background-image: linear-gradient(20deg, #051923, #056290, #069feb);
      padding: 2%;
      font-size: 1rem; }
    body main h2 {
      background-color: whitesmoke;
      color: black;
      text-align: center;
      text-decoration: underline;
      font-size: 0.8rem;
      margin: 2%; }
    body main h3 {
      background-color: #1f7a8c;
      color: white; }
  body footer {
    width: 100vw;
    height: 10vh;
    grid-area: footer;
    background-color: black;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    body footer p {
      width: 20%; }
