.contacto{
    section{
        font-size: 2rem;

    }

    #titulo_contacto{
        width: 100%;
        height: 8%;
    }
    section{
        #contacto{
            width: 100%;            
        }
    }

}

