footer{
    width: 100vw;
    height: 10vh;
    grid-area: footer;
    background-color: black;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        width: 90%; 
    }
    
}