#titulo_doble{
    width: 100%;
    height: 6%;
    display: grid;
    grid-template-columns: 1fr; 
    padding: 3%; 
    @media (min-width: 537px){
        padding: 2%;
    }
    @media (min-width: 1024px){
        height: 8%;
    }
} 
#subtitulo_doble{
    display: grid;
    grid-template-columns: 1fr;     
} 
#doble{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 2px solid $border;
    height: auto;   
    margin: 5%; 
    width: 90%; 

    .habitacion__imagen{
        width: 85vw;
        height: 50vh;
        display: block;
        margin: auto;
        padding: 2%;
        @media (min-width: 537px){
            height: 70vh;
        }
        @media (min-width: 768px){
            height: 90vh;
        }
        @media (min-width: 1440px){
            height: 95vh;
        }
    }
    .habitacion__contenido{
        font-size: $font-size;
        font-style: oblique;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        padding: 2%;
        @media (min-width: 537px){
            font-size: $font-size;
        }
        @media (min-width: 1024px){
            font-size: $font-size*1.5;
        }
        @media (min-width: 1440px){
            font-size: $font-size*1.8;
        }
        @media (min-width: 2560px){
            font-size: $font-size*3;
        }
    }     
}  
    


















  

  


