#titulo_doble{
    display: grid;
    grid-template-columns: 1fr;  
}
#subtitulo_doble{
    display: grid;
    grid-template-columns: 1fr;    
}
#doble{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid black;
    padding: 2px;
    width: 98%;
    .transform{
  
        transform: rotate(10deg) translate(50px, 50px);
        .habitacion__imagen{
            width: 400px;
            height: 300px;
        }
        @media (max-width: 600px){
            .habitacion__imagen{
                width: 250px;
                height: 150px;
            } 
        }
        @media (max-width: 480px){
            .habitacion__imagen{
                width: 200px;
                height: 100px;
            } 
        }
        @media (max-width: 320px){
            .habitacion__imagen{
                width: 120px;
                height: 100px;
            } 
        }
    }
    @media (max-width: 768px){
        .transform{
            transform: rotate(10deg) translate(-20px, 50px);
        }
    }
    @media (max-width: 600px){
        .transform{      
            transform: rotate(10deg) translate(-20px, 50px);        
        }
    }
    @media (max-width: 480px){
        .transform{      
            transform: rotate(10deg) translate(0px, 40px);
        }
    }
    @media (max-width: 320px){
        .transform{
            transform: rotate(10deg) translate(0px, 20px);
        }
    }

}

#titulo_triple{
    display: grid;
    grid-template-columns: 1fr;  
}
#subtitulo_triple{
    display: grid;
    grid-template-columns: 1fr;    
}
#triple{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid black;
    padding: 2px;
    width: 98%;
    .transform{
  
        transform: rotate(10deg) translate(50px, 50px);
        .habitacion__imagen{
            width: 400px;
            height: 300px;
        }
        @media (max-width: 600px){
            .habitacion__imagen{
                width: 250px;
                height: 150px;
            } 
        }
        @media (max-width: 480px){
            .habitacion__imagen{
                width: 200px;
                height: 100px;
            } 
        }
        @media (max-width: 320px){
            .habitacion__imagen{
                width: 120px;
                height: 100px;
            } 
        }
    }
    @media (max-width: 768px){
        .transform{
            transform: rotate(10deg) translate(-20px, 50px);
        }
    }
    @media (max-width: 600px){
        .transform{      
            transform: rotate(10deg) translate(-20px, 50px);        
        }
    }
    @media (max-width: 480px){
        .transform{      
            transform: rotate(10deg) translate(0px, 40px);
        }
    }
    @media (max-width: 320px){
        .transform{
            transform: rotate(10deg) translate(0px, 20px);
        }
    }
   
}
















  

  


