@mixin reseteo-lista {
    list-style-type: none;
    text-decoration: none;
    color: map-get($coloresProyecto,"whitesmoke");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@mixin medida-imagen($width, $height){
    width: $width;
    height: $height;
}