body{
    header{
        nav{
            width: 100%;
            height: 40%;
            align-items: center;  
            display: flex;    
            justify-content: space-around;
            font-size: $font-size*0.4;
            
            @media (min-width: 537px){
                height: 60%;
                font-size: $font-size*0.7;
            }
            @media (min-width: 768px){
                font-size: $font-size;
            }
            @media (min-width: 1024px){
                font-size: $font-size*1.4;
            }
            @media (min-width: 1440px){
                font-size: $font-size*1.8;
            }
            @media (min-width: 2560px){
                font-size: $font-size*3.5;
            }

            
            
            .logo img{ 
                @include medida-imagen(12vw, 8vh);
                margin-top: -0.3rem;                   
                 
                @media (min-width: 537px){ 
                    @include medida-imagen(15vw, 14vh);
                    margin-top: -0.5rem;             
                }
                @media (min-width: 630px){                             
                    @include medida-imagen(15vw, 16vh); 
                    margin-top: -1rem;             
                }
                @media (min-width: 768px){      
                    @include medida-imagen(15vw, 20vh);
                    margin-top: -1.2rem;            
                } 
                @media (min-width: 870px){             
                    margin-top: -1.5rem;            
                }         
                @media (min-width: 1440px){                    
                    @include medida-imagen(18vw, 22vh);
                    margin-top: -2.5rem;                     
                } 
                @media (min-width: 2560px){
                    margin-top: -5rem;
                } 
            }
            
            div{
                height: 1vh;
                
        
                ul, ol{
                    list-style: none;      
                }
                 ul {
                     li{        
                        a{
                            background-color: map-get($coloresProyecto,"background-boton-nav"); 
                            color: map-get($coloresProyecto,"letras-boton-nav");
                            align-items: center;
                            padding: 0.5rem; 
                            display: block;
                            margin: 0.03rem; 
                            
                            @media (min-width: 537px){
                                margin: 0.2rem;
                            }
                            @media (min-width: 1024px){
                                margin: 0.5rem;
                            }  
                            @media (min-width: 1440px){
                                margin: 0.8rem;
                            }
                            @media (min-width: 2560px){
                                margin: 1rem;
                            } 
                        }
                        i{
                            margin: 0 5px;
                            @media (min-width: 2560px){
                                margin: 0 20px;
                            }   
                        }
                        ul{
                            display: none;
                            position: absolute;                
                            min-width: 23.5%;
                            @media (min-width: 537px){
                                min-width: 20.6%;            
                            } 
                                                   
                        }
                    }
                }
                a{
                    &:hover{
                        color: black;
                        background-color: map-get($coloresProyecto,"blanco");
                    }
                }    
            }   
            
            .nav > li{
                float: left;
            }     
            .submenu{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                &:hover ul{
                    display: block;            
                    position: absolute;               
                }
            } 
        } 
    }
}




 

   


