#mainPresentacion{
    width: 100%;
    display: grid;
    grid-area: mainpresent;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 3fr;
    grid-template-areas:
    "titulo" 
    "section";

    .presentacion{        
        grid-area: section;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: 
        "presimg"
        "prescont";
        justify-items: center;
        @media (min-width: 1400px){
            grid-template-rows: 1.5fr 1fr;
        }
        .presentacion__imagen{            
            grid-area: presimg;
            #presentacionImg{
                width: 80vw;
                height: 50vh;
                padding: 1%;
                @media (min-width: 537px){
                    width: 90vw;
                    height: 70vh;                    
                }
                @media (min-width: 768px){
                    width: 90vw;
                    height: 80vh;                    
                }
                @media (min-width: 1024px){
                    width: 95vw;
                    height: 85vh;                    
                }
                @media (min-width: 1400px){
                    height: 95vh;
                    margin-top: 2rem;
                }
            } 
            
        }
        .presentacion__contenido{
            grid-area: prescont;
            margin: 2%;
            border: 2px solid $border;
            border-radius: 10px;
            background-color: white;
            padding: 5px;
            height: 90%;
            width: 95%; 
            font-size: $font-size;
            font-family: Arial, Helvetica, sans-serif;  
            @media (min-width: 537px){
                font-size: $font-size*1.3;
            }
            @media (min-width: 768px){
                font-size: $font-size*1.5;
            }
            @media (min-width: 1024px){
                font-size: $font-size*2;
                margin-top: 2rem;
            }
            @media (min-width: 1400px){
                font-size: $font-size*2.3;
            }
            @media (min-width: 2560px){
                font-size: $font-size*4;
            }
            
        }
    }    
}







        
