$background-footer: black;
$letra-footer: white;
$background-boton: black;
$letras-boton: whitesmoke;
$border: black;
$background-header: #003554;
$background-main: #bfdbf7;
$color-h1: white;
$background-h2: whitesmoke;
$letra-h2: black;
$background-h3: #1f7a8c;
$letra-h3: white;

