@import "./variables";
@import "./mixin";
@import "./nav.scss";
@import "./presentacion";
@import "./habitaciondoble.scss"; 
@import "./habitaciontriple"; 
@import "./servicios"; 
@import "./contacto";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
  
.reseteoListas a:link,
a:visited, a:active {
    @include reseteo-lista;   
}
body{
    width: 100vw;
    height: 185vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "header header"
    "mainpresent mainpresent"
    "footer footer";
    
    header{
        width: 100vw;
        height: 10vh;
        grid-area: header;
        top: 0; 
        background-color: $background-header;
        font-weight: bold;        
    }
    main{
        width: 100vw;
        height: 165vh;
        background-color: $background-main;        
       
        h1{
            grid-area: titulo;
            width: 100%;
            height: 40%;
            color: $color-h1;            
            text-align: center;
            background-image: linear-gradient(20deg, #051923, #056290, #069feb );
            padding: 2%;  
            font-size: $font-size;
        }
        h2{
            background-color: $background-h2;
            color: $letra-h2;
            text-align: center;
            text-decoration: underline;
            font-size: 0.8rem;            
            margin: 2%;
        }
        h3{
            background-color: $background-h3; 
            color: $letra-h3;
        }
    }
   
    footer{
        width: 100vw;
        height: 10vh;
        grid-area: footer;
        background-color: $background-footer;
        color: $letra-footer;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-size: $font-size*0.8;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            width: 20%; 
        }   
    }
}


