@import "./variables";
@import "./mixin";
@import "./nav.scss";
@import "./presentacion";
@import "./habitaciondoble.scss";
@import "./habitaciontriple";
@import "./servicios";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
  
.reseteoListas a:link,
a:visited, a:active {
    @include reseteo-lista;   
}
body{
    width: 100vw;
    height: 190vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr ;
     grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "header header"
    "mainpresent mainpresent"
    "footer footer";
    
    header{
        width: 100vw;
        height: 10vh;
        grid-area: header;
        top: 0;
        background-color: $background-header;
        font-weight: bold; 
        
    }
    main{
        width: 100vw;
        height: 170vh;
        background-color: $background-main;
        
       
        h1{
            grid-area: titulo;
            width: 100%;
            height: 100px;
            color: $color-h1;
            font-size: $font-size*2;
            text-align: center;
            background-image: linear-gradient(20deg, #051923, #056290, #069feb );
            
        }
        h2{
            background-color: $background-h2;
            color: $letra-h2;
            text-align: center;
            text-decoration: underline;
        }
        h3{
            background-color: $background-h3; 
            color: $letra-h3;
        }
    }
    @media (max-width: 320px){
        #contacto{
            font-size: small;
        }

    }
    footer{
        width: 100vw;
        height: 10vh;
        grid-area: footer;
        background-color: $background-footer;
        color: $letra-footer;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-size: $font-size*1.25;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            width: 90%; 
        }
      
        
    }
}





@media (max-width: 1024px) {
    body{
      height: 235vh;

      header{
        height: 15vh;    
      }
      main{        
        height: 215vh;
        h1{
            height: 80px;            
            padding: 15px;    
        }        
      }
      footer{
        height: 5vh;
        font-size: $font-size;
      }
    }
    
    
}
  
@media (max-width: 600px) {
    body{
        height: 240vh;
        header{
          height: 15vh;
          nav{
              div{
                  ul{
                      li{
                          width: 80px;
                          font-size: $font-size*0.65;
                          margin: 10px;
                      } 
                  }
              }
          }        
        }
        main{          
          height: 220vh;
          h1{
              font-size: $font-size*1.6;
              padding: 25px;
            }
        }
        footer{          
          height: 5vh;
          font-size: $font-size;
        }
    }    
   
       
}
@media (max-width: 480px) {
    body{
        header{
            nav{
                div{
                    ul{
                        li{    
                            width: 55px;
                            font-size: $font-size*0.50;    
                        }                        
                    }
                }
            }
        }
        main{
            h1{      
                height: 50px;    
                font-size: $font-size;     
                padding: 15px;   
            }
            section div p{
                font-size: small;                
            }
        }
    }
     
}        
@media (max-width: 320px){
    body{
        height: 230vh;
        header{
            height: 10vh;
            nav{
                div{
                    ul{
                        li{
                            width: 70px;    
                            font-size: $font-size*0.40;
                            margin: 0px;    
                        } 
                    }
                }
            }
        }
        main{
            height: 215vh;
            h1{   
                font-size: $font-size*0.8;
                height: 3%;
            }
            h2{
                font-size: 0.8rem;
            }
        }
        footer{     
            height: 5vh;
            font-size: $font-size*0.5;
        }
    }
}  
